.team_occ {
  color: blue
}

.a breadcrumbs_main {
  color: blue
}

.a breadcrumbs_team {
  color: black
}

.a breadcrumbs_link {
  color: blue
}
.header {
  background-color: rgb(28, 91, 195)
}

img
